#background {
    background-color: lightgrey;
}

.text {
    color: white;
}

.background {
    background-color: lightgray;
}

.divider {
    background-color: darkgray;
}

.content {
    background-color: white;
    align-content: center;
}


.name { 
    text-align: center;
    height: 75px;
    padding-bottom: 15px;
    background-color: lightseagreen;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }